<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

</head>

<body>
    <div class="app">
        <input v-model="message" placeholder="edit me">
        <p>Message is:{{message}}</p>
        <input type="checkbox" id="checkbox" v-model="checked">
        <label for="checkbox"></label>
        <br>
        <h3>Mutiple Choice</h3>
        <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
        <label for="jack">Jack</label>
        <input type="checkbox" id="john" value="John" v-model="checkedNames">
        <label for="john">John</label>
        <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
        <label for="mike">Mike</label>
        <br>
        <span>Checked names:{{checkedNames}}</span>
        <br>
        <h3>Radio</h3>
        <input type="radio" id="one" value="One" v-model="picked">
        <label for="one">One</label>
        <input type="radio" id="two" value="Two" v-model="picked">
        <label for="two">Two</label>
        <br>
        <span>Picked: {{ picked }}</span>
        <br>
        <h3>Select</h3>
        <select v-model="selected">
            <option disabled value="">Please select one</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <span>Selected: {{ selected }}</span>
        <br>
        <br>
        <h3>For Select</h3>
        <select v-model='multiSelected'>
            <option v-for="choice in choices">{{choice.name}}</option>
        </select>
        <br>
        <span>Selected: {{ multiSelected }}</span>
        <br>
        <br>
        <h3>Lazy</h3>
        <input v-model.lazy="message">
        <p>{{message}}</p>
        <input v-model.trim="messageTrim">
        <p>{{messageTrim}}</p>
        
    </div>
    <br>

</body>
<script>
    var vue = new Vue({
        el: '.app',
        data: {
            checkedNames: [],
            picked: [],
            selected: '',
            multiSelected: '',
            choices: [{
                name: 'Nam'
            },
            {
                name: 'Nga',
            }
            ],
            message:'',
            messageTrim:''
        }
    })
</script>

</html>