<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

</head>
<body>
    <div class="app">
            <div>{{ reverseMessage }}</div>
            <div><button v-on:click="changeMessage">Click me</button></div>
    </div>
</body>
<script>
    var vue=new Vue({
        el:'.app',
        data: {
            message:''
        },
        methods: {
            changeMessage() {
                this.message = 'NamNga'
            }
        },
        computed: {
        	reverseMessage() {
        		return this.message.split('').reverse().join('')
        	}
        },
        watch: {
            reverseMessage() {
                console.log('Computed changed')
            }
        }
    })
</script>
</html>