<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>

    <div class="nav-bar">

    </div>
    <div id="app">
        <div class="product">
            <div class="product-image">
                <img v-bind:src="image">
            </div>
            <div class="product-info">
                <h1>{{product}}</h1>
                <p v-if="inventory > 1000">In Stock</p>
                <p v-else="outStock">Out of Stock</p>
                <ul>
                    <li v-for="detail in details">{{detail}}</li>
                </ul>
                <ul>
                    <li v-for="variant in variants" :key="variant.variantId">{{variant.variantColor}}</li>
                </ul>
            </div>
        </div>
    </div>
</body>
<script>
    var vue=new Vue({
        el:'#app',
        data: {
            product: 'Socks',
            image: 'https://picsum.photos/id/237/200/300',
            inStock: true,
            inventory: 100,
            details: ["80% cotton", "20% polyeste"],
            variants: [
                {
                    variantId:1,
                    variantColor:"red"
                },
                {
                    variantId:2,
                    variantColor:"blue"
                }
            ]
        }
    })
</script>
</html>